/* Start variable */
:root{
    --maincolor:#2d3f4b;
    --mainpadding:100px;
    --secondcolor:#585858;
}
/* End Variable */
/* Start Global Rules */
*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Glory', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small and Mobile */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/*    Meduim */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/*    large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* Start header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--maincolor);
    padding:20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
header .logo h2{
    color: var(--maincolor);
}
header .logo h2 span{
    display: inline-block;
    background-color: white;
    text-align: center;
}
header .logo h2 span:first-child{
    width: 25px;
    height: 25px;
    font-weight: 300;
    font-size: 30px;
    line-height: 25px;
    transform: rotate(2deg);
}
header .logo h2 span:nth-child(2){
    width: 20px;
    height: 25px;
    font-weight: 500;
    font-size: 35px;
    line-height: 20px;
    transform: rotate(5deg);
}
header .logo h2 span:nth-child(3){
    width: 20px;
    height: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    transform: rotate(-10deg);
    position: relative;
    top: -10px;
}
header .logo h2 span:nth-child(4){
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
    transform: rotate(10deg);
    position: relative;
    left: 2px;
}
header .nav{
    display: flex;
}
header .nav li{
    margin-right: 15px;
}
header .nav li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
header .menu {
    color: white;
    position: relative;
}
header .menu i{
    font-size: 30px;
}
@media (min-width:768px){
    header .menu{
        display: none;
    }
}
@media (max-width:768px){
    header .nav{
        display: none;
    }
    header .menu:hover+ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color:#757575;
        z-index: 2;
        padding: 20px;
    }
    header .nav li{
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--maincolor);
    }
}  
/* End header */
/* Start Fixed Icon */
.side-icon{
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}
.side-icon ul li{
    width: 35px;
    height: 35px;
    background-color: var(--maincolor);
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.side-icon ul li a{
    color: white;
}
.side-icon ul li a i{
    font-size: 15px;
}
.side-icon ul li:hover{
    width: 55px;
}
/* End Fixed Icon */
/* Start About me */
.about-me{
    padding-top: var(--mainpadding);
    padding-bottom: var(--mainpadding);
}
.about-me .container{
    display: flex;
    justify-content: center;
    padding-top: calc(var(--mainpadding) / 2);
    flex-wrap: wrap;
}
@media (max-width:850px){
    .about-me .container{
        flex-direction: column;
        align-items: center;
    }
    .about-me .container .image{
        margin-bottom: 50px;
        left: 15%;
    }
}
.about-me .container .image{
    width: 200px;
    height: 300px;
    margin-right: 100px;
    position: relative;
}
.about-me .container .image img{
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
}
.about-me .container .image::before{
    content: "";
    position: absolute;
    width: 65%;
    height: 70%;
    border: 5px solid var(--maincolor);
    border-right-color: transparent;
    top: -4px;
    left: -20px;
    z-index: -1;
}
.about-me .container .image::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 110%;
    border: 5px solid var(--maincolor);
    top: -4px;
    right: -20px;
    z-index: -1;
}
.about-me .container .whom-ami{
    width: 400px;
}
@media (max-width:767px){
    .about-me .container .whom-ami{
        width: 75%;
    }
}
.about-me .container .whom-ami h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
}
.about-me .container .whom-ami p{
    color: var(--secondcolor);
    margin-bottom: 10px;
}
.about-me .container .whom-ami .skills .skill h4{
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.about-me .container .whom-ami .skills .skill .ratio{
    width: 100%;
    background-color: #eee;
    height: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}
.about-me .container .whom-ami .skills .skill .ratio span{
    display: block;
    height: 100%;
    background-color: var(--maincolor);
    border-radius: 10px;
    
}
.about-me .container .whom-ami .skills .skill .ratio::before{
    content: attr(progress);
    position: absolute;
    color: white;
    font-size: 15px;
}
.about-me .container .whom-ami .skills .skill:nth-of-type(1) .ratio::before{
    left: 40%;
}
.about-me .container .whom-ami .skills .skill:nth-of-type(2) .ratio::before{
    left: 45%;
}
.about-me .container .whom-ami .skills .skill:nth-of-type(3) .ratio::before{
    left: 35%;
}
.about-me .container .whom-ami .skills .skill:nth-of-type(4) .ratio::before{
    left: 20%;
}
/* End About me */
/* Start Resume */
.resume{
    padding-top: var(--mainpadding);
    padding-bottom: var(--mainpadding);
    background-color: #eee;
}
.resume .container{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
@media (max-width:1000px){
    .resume .container{
        flex-direction: column;
    }
}
.resume .container .box{
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
}
.resume .container .box h3{
    color: white;
    background-color: var(--maincolor);
    text-transform: capitalize;
    padding: 5px 10px;
    font-size: 15px;
    margin-bottom: 7px;
}
.resume .container .box p{
    color: var(--secondcolor);
    line-height: 1.4;
    padding: 0px 10px;
}
.resume .container .box .iformation{
    padding: 0px 10px ;
    color: var(--secondcolor);
}
.resume .container .box .iformation span{
    color: black;
}
.resume .container .box::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid var(--maincolor);
    left: -30px;
    top: 0;
}
.resume .container .box::after{
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% + 5px);
    background-color: var(--maincolor);
    top: 16px;
    left: -22px;
}
@media (max-width:800px){
    .resume .container .box::before,
    .resume .container .box::after{
        display: none;
    }
}
/* End Resume */
/* Start Services */
.services{
    padding-top: var(--mainpadding);
    padding-bottom: var(--mainpadding);
    text-align:center;
}
.services .heading h2{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}
.services .heading p{
    color: var(--secondcolor);
    margin-bottom: 15px;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px ,1fr));
    gap: 30px;
    justify-content: center;
}
.services .services-content .box{
    background-color: #eee;
    border-top-left-radius: 1px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 1px;
    padding: 10px 10px 15px;
    text-align:start;
    transition: 0.3s;
}
.services .services-content .box:hover{
    background-color: var(--maincolor);
}
.services .services-content .box:hover i,
.services .services-content .box:hover h4,
.services .services-content .box:hover p{
    color: white;
}
.services .services-content .box i{
    display: inline-block;
    margin-right: 10px;
}
.services .services-content .box h4{
    display: inline-block;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}
.services .services-content .box p{
    margin-top: 15px;
    line-height: 1.4;
    /* color: var(--secondcolor); */
}
/* End Services */
/* Start Contact */
.contact{
    padding-top:  calc(var(--mainpadding) / 2);
    padding-bottom: calc(var(--mainpadding) / 2);
    background-image:url(../image/contact.jpg);
    background-size: cover;
    position: relative;
}
.contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(45,63,75,0.8);
}
.contact .heading h2{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    position: relative;
}
.contact .heading p{
    position: relative;
    color: #ffffffa6;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.6;
}
.contact .content{
    display: flex;
    gap: 30px;
    justify-content:center;
    position: relative;
    margin :30px 0 40px;
}
.contact .content .box{
    width: 25%;
    text-align: center;
}
.contact .content .box i{
    color: white;
    display: block;
    font-size: 30px;
    margin-bottom: 15px;
}
.contact .content .box span{
    color: #ffffffbf;
}
@media (max-width:768px){
    .contact .content .box span{
        font-size: 12px;
    }
}
.contact .buttons{
    text-align: center;
    position: relative;
}
.contact .buttons button{
    padding: 10px 15px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 10px;
    color: white;
}
/* End Contact */